@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    }

/* Hiding the <summary> / <details> arrow */
details > summary.list-none::-webkit-details-marker,
details > summary.list-none::marker {
    display: none;
}

/* ========== Custom Scrollbar Styling ========== */

::-webkit-scrollbar {
    width: 3px;
}  
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #252525;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 58, 58);
}

/* Allows us to remove the ability to highlight text from an element */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* ========== Additional classes for Animate.css ========== */
.animate__animated.animate__duration-100ms { --animate-duration: 100ms; }
.animate__animated.animate__duration-150ms { --animate-duration: 150ms; }
.animate__animated.animate__duration-200ms { --animate-duration: 200ms; }
.animate__animated.animate__duration-300ms { --animate-duration: 300ms; }
.animate__animated.animate__duration-400ms { --animate-duration: 400ms; }
.animate__animated.animate__duration-500ms { --animate-duration: 500ms; }
.animate__animated.animate__duration-600ms { --animate-duration: 600ms; }
.animate__animated.animate__duration-700ms { --animate-duration: 700ms; }
.animate__animated.animate__duration-800ms { --animate-duration: 800ms; }
.animate__animated.animate__duration-900ms { --animate-duration: 900ms; }
.animate__animated.animate__delay-100ms { animation-delay: 100ms; }
.animate__animated.animate__delay-150ms { animation-delay: 150ms; }
.animate__animated.animate__delay-200ms { animation-delay: 200ms; }
.animate__animated.animate__delay-300ms { animation-delay: 300ms; }
.animate__animated.animate__delay-400ms { animation-delay: 400ms; }
.animate__animated.animate__delay-500ms { animation-delay: 500ms; }
.animate__animated.animate__delay-600ms { animation-delay: 600ms; }
.animate__animated.animate__delay-700ms { animation-delay: 700ms; }
.animate__animated.animate__delay-800ms { animation-delay: 800ms; }
.animate__animated.animate__delay-900ms { animation-delay: 900ms; }
